*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  font-size: var(--font-size-text);
}

h1 {
  font-size: var(--font-size-large);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-large);
  font-weight: 600;
}

h4 {
  font-size: var(--font-size-large);
  font-weight: 600;
}

h6 {
  font-size: var(--font-size-test);
  font-weight: 600;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}