body {
  /* COLORS */
  --color-text: #ffffff;
  --color-background: #080808;
  --color-background-card: #1f1f1f;
  --color-blue:  #15A9FF;

  /* FONTS */
  --font-size-small: 14px;
  --font-size-text: 16px;
  --font-size-large: 20px;

  /* SPACING */
  --spacing-0-5: 5px;
  --spacing-1: 10px;
  --spacing-1-5: 15px;
  --spacing-2: 20px;
  --spacing-2-5: 25px;
  --spacing-4: 40px;

  /* SIZES */
  --size-icon: 30px;

  /* MISC */
  --border-radius-card: 20px;
}